@font-face {
    font-family: Kollektif;
    src: url(Kollektif.ttf);
    }

@font-face {
    font-family: Kollektif-Bold;
    src: url(Kollektif-Bold.ttf);
    }


* {
    margin: 0px;
    padding: 0px;
    font-size: 10px;
    font-family: Kollektif;
    color: #242424;
}

/* Nav */

.menu {
    display: flex;
    position: fixed;
    width: 100vw;
    z-index:1; 
}

.menu-logo-container {
    flex-grow: 1; 
}

.menu-logo {
    width: 35px;
    padding: 25px;
}

.menu-icon-container {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    margin-top: -20px;
}

.menu-icon {
    width: 35px;
    padding: 25px;
}

.menu-list{
    display: none;
    visibility: hidden;
}

/* cover */

.cover {
  /*background-image: url("../img/prueba-home.jpg");*/
  background-color: #f8f8f8;
  margin-bottom: 10px;
}

.cover-text {
    position: relative;
    text-align: center;
    width: 100vw;
}

.cover-title {
    font-size: 6.5rem;
    font-family: Kollektif-Bold;
    padding: 125px 0px 30px 0px;
}


.cover-subtitle {
    font-size: 1.7rem;
    padding: 2px 0px 10px 0px;
    font-family: Kollektif-Bold;
}

.cover-subtitle-underline {
    font-size: 3.3rem;
    font-family: Kollektif-Bold;
    color: #2CEAA3;
    text-decoration: none;
}


.cover-paragraph {
    font-size: 1.4rem;
    margin: 0px 55px 30px 55px;
}


.cover-button {
    font-size: 1.8rem;
    text-decoration: none;
    padding: 12px 80px 12px 80px;
    background-color: #2CEAA3;
    color: #242424;
}

.cover-button:hover {
    font-size: 2rem;
}


.cover-social {
    display: flex;
    margin-top: 30px;
    justify-content: center;
}

.social-icon {
    width: 32px;
    margin: 0px 12px 80px 12px;
}

/* section */


.first-section {
    /*background-image: url("../img/prueba-seccion-1.jpg");*/  
    height: 400px;
    margin-bottom: 10px;
    background-color: #f8f8f8;
}

.second-section {
    /*background-image: url("../img/prueba-seccion-2.jpg");*/  
    height: 400px;
    background-color: #f8f8f8;
}

.text-section {
    text-align: left;
    padding: 70px 10px 10px 20px;
}

.title-section {
    font-size: 9rem;
    line-height: 85px;
}

.title-section:hover{
    color: #2CEAA3;
}

.paragraph-section, a {
    font-size: 1.5rem;
    text-decoration: none;
    margin-top: 20px;
}

.paragraph-section:hover {
    color: #242424;
}


/* form */

.form-container {
    border: 2px solid #e9e8e8;
    padding: 25px;
    margin: 8px;
}

.title-form {
    font-size: 3.8rem;
    margin-top: 20px;
}

.form {
    display: flex;
    flex-direction: column;
    padding: 30px 0px 15px 0px;
}

.form-element {
    text-decoration: none;
    font-size: 1.5rem;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #e9e8e8;
    margin-bottom: 15px;
}

.form-button {
    padding: 10px 0px 10px 0px;
    background-color: #242424;
    color: white;
    font-size: 1.3rem;
    text-transform: uppercase;
}

.form-button:hover {
    background-color: #2CEAA3;
    font-size: 1.5rem;
    color: #242424;
}

/* footer */

.footer-social {
    display: flex;
    justify-content: center;
}

.footer-social-icon {
    width: 30px;
    margin: 20px 20px 40px 20px;
}

.footer-credits {
    background-color: #242424;
    padding: 40px 0px 40px 0px;
    text-align: center;
}


.footer-credits-text {
    color: white;
}

/* Media Queries for IPAD */

@media (min-width: 768px) and (max-width: 1024px) {
  
    .menu {
        position: absolute;
    }
    .menu-icon {
        display: none;
        visibility: hidden;
    }
    
    .menu-list{
        display: flex;
        visibility: inherit;
        padding: 35px 20px 20px 20px;
    }

    .menu-list li {
        list-style: none;
    }

    .menu-element {
        text-decoration: none;
        margin-right: 16px;
        padding: 9px;
        font-size: 1.4rem;
    }

    .menu-element:hover {
        color: white;
        background-color: #2CEAA3;
    }


    .cover-paragraph {
        margin: 0px 230px 50px 230px;
    }

    .first-section {
        height: 400px;
        margin-bottom: 10px;
    }

    .second-section {
        height: 400px; 
    }
    
  }

  /* Media Queries for Desktop */

  @media (min-width: 1025px) and (max-width: 1280px) {
    
    .menu {
        position: absolute;
    }
    .menu-icon {
        display: none;
        visibility: hidden;
    }
    
    .menu-list{
        display: flex;
        visibility: inherit;
        padding: 35px 20px 20px 20px;
    }

    .menu-list li {
        list-style: none;
    }

    .menu-element {
        text-decoration: none;
        margin-right: 16px;
        padding: 9px;
        font-size: 1.4rem;
    }

    .menu-element:hover {
        color: white;
        background-color: #2CEAA3;
    }

    .cover-paragraph {
        margin: 0px 390px 50px 390px;
    }

    .sections-container {
        display: flex;
    }

    .first-section {
        width: 50%;
        margin-right: 10px;
    }

    .second-section {
       width: 50%;
    }
 
  }

  @media (min-width: 1281px) {
  
    .menu {
        position: absolute;
    }
    .menu-icon {
        display: none;
        visibility: hidden;
    }
    
    .menu-list{
        display: flex;
        visibility: inherit;
        padding: 35px 20px 20px 20px;
    }

    .menu-list li {
        list-style: none;
    }

    .menu-element {
        text-decoration: none;
        margin-right: 16px;
        padding: 9px;
        font-size: 1.4rem;
    }

    .menu-element:hover {
        color: white;
        background-color: #2CEAA3;
    }


    .cover-paragraph {
        margin: 0px 520px 50px 520px;
    }

    .sections-container {
        display: flex;
    }

    .first-section {
        flex-grow: 1;
        margin-right: 10px;
    }

    .second-section {
        flex-grow: 1;
    }

    .form {
        margin: 0px 180px 0px 180px;
    }
  }




